body {
  margin: 0;
  /* rendre impossible la selection */
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  color: #333 !important;
}

p {
  font-family: "Roboto", serif !important;
  font-size: 1.2rem !important;
  margin: 1rem 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 300 !important;
}

.jumbotron {
  margin-top: 100px;
}

.form-custom-small {
  max-width: 450px;
  padding: 20px;
  margin: 30px auto;
}

.form-custom-medium {
  max-width: 600px;
  /* padding: 20px;*/
  margin: 0 auto;
}

.tag {
  font-family: "Roboto", serif !important;
  color: white !important;
  background: rgba(0, 0, 0, 1) !important;
  font-size: 1rem !important;
  padding: 0.3rem 0.5rem;
}

.tag:hover {
  color: white !important;
  background: rgba(0, 0, 0, 0.8) !important;
}

.flash {
  padding: 0 !important;
  padding-top: 15px;
  bottom: 40px;
  text-align: center;
  position: fixed;
  right: 30px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.site-text {
  font-family: "Roboto", serif !important;
  font-size: 1.2rem !important;
}

.roboto {
  font-family: "Roboto Serif", sans-serif;
}

.barlow {
  font-family: "Barlow Condensed", sans-serif;
}

.card {
  background-color: rgba(255, 255, 255, 0.3) !important;
  background-clip: none !important;
  border: 1px solid lightgray !important;
  border-radius: 0 !important;
}

.button-link {
  border: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  cursor: pointer;
  color: #333;
  font-family: "Roboto Serif", sans-serif;
  transition: all 0.2s ease-in-out;
}

.button-link:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white !important;
}

.menu-link {
  border: 1px solid #333;
  padding: 10px 15px;
  cursor: pointer;
  color: #333;
  font-family: "Roboto Serif", sans-serif;
  transition: all 0.2s ease-in-out;
}

.menu-link:hover {
  background-color: #333;
  color: white !important;
}

/* --------------------------------------------------------------------------------- */

/* --------------------------- SPLASHSCREEN LOADING -------------------------------- */

/* --------------------------------------------------------------------------------- */

.content {
  /* opacity: 0; */
  display: none;
}

/* .gsapBox {
  opacity: 0;
} */
.box {
  margin: 3rem auto;
  background-color: #c23616;
  /* color: blue; */
  position: relative;
  box-sizing: border-box;
  border: 4px solid #fff;
  height: 80px;
  width: 80px;
  animation: spin 3s infinite linear;
}
.box:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border: 4px solid #fff;
  width: 60px;
  height: 60px;
  animation: pulse 1.5s infinite ease;
}

@keyframes pulse {
  50% {
    border-width: 30px;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.loading-box {
  z-index: -1;
  position: fixed;
  left: calc(50% + 80px);
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: start 500ms forwards;
}

@keyframes start {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
  }
}

/* .loading-box.start {
  transform: translate(-50%, -50%) scale(1.3);
} */

/* .loading-box.animate {
  transform: translate(-50%, -50%) scale(0);
} */

.loading-bar {
  width: 200px;
  height: 50px;
  /* padding: 10px 20px; */
  background-color: #c23616;
  /* border-radius: 10px; */
  /* margin: calc(50vh - 117px) auto; */
  position: relative;
  overflow: hidden;
}
.loading {
  /* width: 100px; */
  height: 50px;
  background-color: #333;
  /* border-radius: 10px; */
}

/* HOVER ANIMATE */

/* .menu-hover-scale {
  border-radius:0px !important;
  transition: all 0.2s ease-in-out;
}

.menu-hover-scale:hover {
  transform: scale(1.2);
} */

.form-floating {
  margin-bottom: 20px;
}

label {
  font-family: roboto !important;
  color: #333 !important;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.7) !important;
  border-radius: 0 !important;
  font-family: roboto !important;
  /* border:0 !important;
  border-color:transparent;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

.element-box-hover {
  border-radius: 0px !important;
  transition: all 0.2s ease-in-out;
}

.element-box-hover:hover {
  transform: scale(1.03);
}

.swiper-button-next,
.swiper-button-prev {
  color: #212529 !important;
  background: rgba(255, 255, 255, 0.5);
  padding: 30px;
}

.swiper-pagination-bullet {
  background: #212529 !important;
}

.container {
  padding: 50px 0;
  /* min-height: calc(100vh - 132px); */
}

.centered {
  text-align: center;
}

.police-menu {
  font-family: "Roboto Serif", sans-serif !important;
}

.quote {
  font-size: 2rem;
  text-align: center;
  color: grey;
  padding: 90px 0px;
  text-transform: lowercase;
  font-family: "Roboto", serif !important;
}

/* ---------------------------------------SIDEBAR MENU RESPONSIVE ---------------------------------------*/

.sidebar {
  margin: 0;
  padding: 20px;
  width: 200px;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
  /* rendre impossible la selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-title-site {
  display: block;
  color: #c23616 !important;
  padding: 0px 15px;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Roboto Serif", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  width: 120px;
  z-index: 4;
  position: relative;
}

.menu-element-link {
  display: block;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300 !important;
  transition: all 0.1s ease-in-out;
}

.menu-element-link:hover {
  /* transform: scale(1.05); */
  background-color: #c23616;
  color:white !important;
}

.sidebar a:hover:not(.active) {
  /* background-color: #555; */
  color: #333;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  min-height: 100%;
}

.button-toggle-menu {
  position: fixed;
  right: 0;
  top: 0;
  margin: 40px;
  cursor: pointer;
}

.toggle-menu {
  display: none !important;
}

.menu-box {
  padding: 20px 0;
}

#homeContainer {
  margin-top: 5rem !important;
  margin-bottom: 0;
  /* min-height: calc(100vh - 230px); */
}

@media screen and (max-width: 1350px) {
  .loginBtn {
    top: 10px;
    right: 30px;
  }

  .loading-box {
    z-index: -1;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: start 500ms forwards;
  }

  #homeContainer {
    margin-top: 1rem !important;
    margin-bottom: 0;
    /* min-height: calc(100vh - 230px); */
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    /* box-shadow: 0px 10px 10px 12px rgb(255 255 255); */
    box-shadow: 0px 0px 15px 2px rgb(255 255 255);
  }

  div.content {
    margin-left: 0;
  }
  .menu-box {
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: calc(100% - 200px);
    left: 150px;
    top: 15px !important;
    background: white;
    display: block;
  }

  .sidebar {
    position: fixed;
  }
  .sidebar a {
    float: none;
    display: inline-block;
  }
  .content {
    position: relative;
    padding-top: 100px !important;
    z-index: 1;
    /* overflow-y: scroll; */
  }
  .toggle-menu {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .loginBtn {
    top: 0;
    right: 0;
  }

  .menu-element-link {
    font-size: 2rem;
  }
  .dropdown-menu {
    position: relative !important;
    text-align: center !important;
    width: 100% !important;
  }
  .sidebar a {
    text-align: center;
    display: block;
  }
  .menu-box {
    display: none;
    top: 100px !important;
    width: 100%;
    left: 0;
    height: calc(100% - 100px);
    overflow-y: scroll;
  }
  .toggle-menu {
    display: block !important;
  }
}

.note-editable {
  background-color: rgba(255, 255, 255, 0.7) !important;
  color: #212529 !important;
  font-family: roboto !important;
}

/* ---------------------------------------HOME ---------------------------------------*/
.card-img-home {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.card-home {
  position: absolute;
  /* background: rgba(0,0,0,0.3); */
  width: 100%;
  text-align: left;
  color: white !important;
  height: 500px;
}

/* ---------------------------------------DETAILS ARTICLE--------------------------------------- */
.element-article-details-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

/* ---------------------------------------SHOP ALL PRODUCTS---------------------------------------*/
.element-shop-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 260px;
  /* min-height: 100%; */
  /* min-width: 100%; */
}

/* ---------------------------------------DETAILS SHOP PRODUCT---------------------------------------*/
.element-shop-details-img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

/* ---------------------------------------DETAILS GALLERY ---------------------------------------*/
.element-details-box {
  margin-bottom: 50px;
  text-align: center;
}

.element-gallery-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 260px;
}

/* ---------------------------------------DETAILS EVENTS ---------------------------------------*/
.element-event-details-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

/* ---------------------------------------EVENTS ---------------------------------------*/

.card-img-event {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.card-article {
  position: absolute;
  width: 100%;
  text-align: left;
  color: white !important;
  height: 300px;
}

/* ---------------------------------------MASSON GALLERY--------------------------------------- */

.masonry {
  columns: 4;
  column-gap: 16px;
}
@media (max-width: 1200px) {
  .masonry {
    columns: 3;
  }
}
@media (max-width: 992px) {
  .masonry {
    columns: 2;
  }
}
.masonry .grid {
  display: inline-block;
  margin-bottom: 16px;
  position: relative;
}
.masonry .grid:before {
  border-radius: 5px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.masonry .grid img {
  width: 100%;
}
.masonry .grid__title {
  padding: 10px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
.masonry .grid__body {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
  overflow: hidden;
}

.masonry .grid__body:hover {
  opacity: 1;
}

.mt-auto {
  margin-top: auto;
}

/* PANIER */
.link-cart-site {
  /* position: fixed;
  right: 10px;
  top: 10px; */
  /* padding: 30px; */
  /* text-align: center; */
  color: black;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

/* --------------------------------------- M O D A L   -    B O X ------------------------------ */

/* The Modal (background) */
.modalBox {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); Fallback color */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
  margin: 5% auto;
  width: 80%;
}
.modalClose {
  color: white;
  float: right;
  font-size: 30px;
  display: none;
}

.modalClose:hover,
.modalClose:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.blurYoutube {
  cursor: pointer;
  background: #333;
  opacity: 0;
  height: 250px;
  position: absolute;
  z-index: 20;
}

/* --------------------------------------- C A R T ------------------------------ */

.text-navy {
  color: #1ab394;
}
.cart-product-imitation {
  text-align: center;
  padding-top: 15px;
  height: 80px;
  width: 80px;
}
.product-imitation.xl {
  padding: 120px 0;
}
.product-desc {
  padding: 20px;
  position: relative;
}
.ecommerce .tag-list {
  padding: 0;
}
.ecommerce .fa-star {
  color: #d1dade;
}
.ecommerce .fa-star.active {
  color: #f8ac59;
}
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}
table.shoping-cart-table {
  margin-bottom: 0;
}
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid lightgray;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.ibox-content {
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  padding-top: 10px;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  padding: 10px 15px;
}

/*--------------------------------------- Dropdown box user --------------------------------------- */
.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.show {
  display: block;
}

/* ---------------------------------------Animation Menu responsive toggle--------------------------------------- */

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #c23616 ;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
